{% extends './base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="wrapper">

    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="../static/img/logonegro.png" alt="C&C" height="150" width="150">
    </div>

    <nav class="main-header navbar navbar-expand navbar-blue navbar-dark">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-widget="navbar-search" role="button">
                    
                    <i class="fas fa-search"></i>&nbsp&nbsp
                    <i class="fas fa-shopping-cart"></i>&nbsp&nbsp
                    <i class="fas fa-user-slash"></i>
                </a>
                <div class="navbar-search-block">
                    <form class="form-inline">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" type="search" placeholder="Buscar" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
    </nav>

    <aside class="main-sidebar sidebar-dark-info elevation-4">
        <a href="{{ url_for('home')}}" class="brand-link">
            <img src="../static/img/CycLogo.png" alt="C&C logo" class="brand-image img-circle elevation-3">
            <span class="brand-text font-weight-light">C&C</span>
        </a>

        <div class="sidebar">

            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item menu-close">
                        <a href="" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Opciones
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{{ url_for('list')}}" class="nav-link">
                                    <i class="nav-icon fas fa-star"></i>
                                    <p>Cuadros</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ url_for('precio')}}" class="nav-link">
                                    <i class="nav-icon fas fa-store"></i>
                                    <p>Consulta precio</p>
                                </a>
                            </li>


                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('contactos')}}" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>Contactanos</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ url_for('quejas')}}" class="nav-link">
                            <i class="nav-icon fas fa-file"></i>
                            <p>Quejas y reclamos</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>

    <!--*******************************************inicio contenido ventanas****************************************************--> 

    <div class="content-wrapper" style="background-image: url('../static/img/fondo4.png');">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="titulom">Inicio</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>Cuadros</h3>
                            <p> Encuentra los tipos de cuadros</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="{{ url_for('list')}}" class="small-box-footer">Click para continuar  <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>Consulta</h3>
                            <p>Precio de tus medidas</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-cash"></i>
                        </div>
                        <a href="{{ url_for('precio')}}" class="small-box-footer">Click para continuar  <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>Contactos</h3>
                            <p>Comunicate con nosotros</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="{{ url_for('contactos')}}" class="small-box-footer">Click para continuar <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>P.Q.R.S.</h3>
                            <p>Detalla tu peticion</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-cloud"></i>
                        </div>
                        <a href="{{ url_for('quejas')}}" class="small-box-footer">Click para continuar <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>

        <br>
        <div id="contenedor" class="col-12" align="center">
            <img src="../static/img/logoCuadros.png" alt="C&C" width="300" height="300">
        </div>
    
    <!--*******************************************fin contenido ventanas****************************************************--> 

    <footer>
        <a class="appWhatsapp" href="https://wa.me/message/BH3BJKU6EVRON1"  onmousedown="btnwpp.play()" target="_blank">
            <img src="../static/img/logowpp.png" alt="WhatsApp"> 
        </a>
        <div id="fb-root"></div>
    </footer>         

    </section>
    
    </div>

    <footer class="main-footer">
        <strong>Copyright &copy; 2023 <a href="https://www.facebook.com/Cuadrosymascuadros999"  target="_blank">@Cuadrosymascuadros999</a>.</strong> Todos los derechos reservados.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 1.0.0
        </div>
    </footer>

    <aside class="control-sidebar control-sidebar-dark">
    </aside>

</div>

{% endblock %}